.color-msg {
    text-align: center;
    font-size: 2em;
    line-height: 1rem;
    margin-top: calc(50vh - 2em - 64px);
    color: var(--color-four);
}

.show-color{
    margin-top: calc(60vh - 2.5em - 20px - 300px);
}

.drag-color{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.drag-color span{
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 1.5em;
    color: #53525d;
}

.myRange{
    -webkit-appearance: none;
    width: 190px;
    height: 2px;
    border-radius: 1px; /*这个属性设置使填充进度条时的图形为圆角*/
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
}

.myRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 2px dashed #ccc;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #fff;
}

.copy-color{
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 1.5em;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin: 35px auto;
    background-color: #fff;
    color: #53525d;
    border: 1px solid #53525d;
    cursor: pointer;
}

.show-text{
    font-weight: 900;
    font-size: 2.5em;
    padding-bottom: 20px;
    color: #53525d;
}

.no-click{
    pointer-events: none;
}